/*

Author: Sergi. J
Date:Dec, 2020

*/
/*! normalize css */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

a:focus,
a:active,
button:focus,
button:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Global start */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Karma", Verdana, Tahoma, sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 300;
  color: #444;
  background-color: #f6f6f6;
}

/* List */
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Img */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

/* Typography */
a {
  color: #2d4059;
}

a:link,
a:active,
a:visited,
a:focus,
a:hover {
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: #cf9203;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #2d4059;
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3.1rem;
}

h3 {
  font-size: 2.9rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 1.9rem;
}

p {
  padding: 0;
  margin: 0;
}

/* Container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2em;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 1em 0;
}

/* Buttons */
.btn {
  display: inline-block;
  color: #f6f6f6;
  background-color: #2d4059;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  padding: 0.6em 0.8em;
  font-weight: 500;
  font-size: 2rem;
  border-radius: 1rem;
}

.btn:hover {
  background-color: #cf9203;
  color: #f6f6f6;
}

/* About Section */
.about {
  -webkit-animation-name: ani;
          animation-name: ani;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about li + li {
  margin-left: 0.5em;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.about__img img {
  border-radius: 50%;
}

.about__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

/* Portfolio Section */
.portfolio {
  -webkit-animation-name: ani2;
          animation-name: ani2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -1em;
  margin-left: -1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio__item {
  padding-right: 1em;
  padding-left: 1em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__item__img {
  position: relative;
}

.portfolio__item__img .btn {
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 330ms ease-in-out;
  transition: all 330ms ease-in-out;
}

.portfolio__item h4 {
  padding: 0.5em 0;
  text-align: center;
  background: #d1d1d1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.portfolio__item img {
  -webkit-transition: all 450ms ease-in-out;
  transition: all 450ms ease-in-out;
  border-bottom: 0;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.portfolio__item__info {
  background: #e0e0e0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio__item__info span {
  display: block;
}

.portfolio__item__img:hover .btn {
  opacity: 1;
  visibility: visible;
}

/* Copyright Section */
footer {
  text-align: center;
  -webkit-animation-name: ani3;
          animation-name: ani3;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

/* Animations */
@-webkit-keyframes ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes ani {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes ani2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes ani2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes ani3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ani3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Extra Classes */
.pad-tb-1 {
  padding: 1em 0;
}

.pad-tb-05 {
  padding: 0.5em 0;
}

.mar-tb-1 {
  margin: 1em 0;
}

.mar-b-2 {
  margin-bottom: 2em;
}

.mar-tb-2 {
  margin: 2em 0;
}

.pad-1 {
  padding: 1em;
}

.pad-2 {
  padding: 2em;
}

.color-orange {
  color: #cf9203;
}

/* Media Queries */
@media screen and (max-width: 1080px) {
  .about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .about__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
}

@media screen and (max-width: 1100px) {
  .portfolio__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 950px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about__container ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__img img {
    width: 25rem;
  }
  .about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .about__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 760px) {
  .portfolio__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */